<!-- navbar.hbs -->

<!DOCTYPE html>
<html>
  <head>
    <style>
      .button {
        display: inline-block;
        position: absolute;
        top: 40px;
        left: 1180px;
        background-color: #FFD059;
        color: black;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        font-size: 16px;
        font-family: 'TS Safaa';
      }
      .button:hover{
        transform: scale(1.2);
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        {{!-- Brute Force Spacing --}}
        <li><a>Home</a></li>
        <li><a>Home</a></li>
        <li><a>Home</a></li>
        <li><a>Home</a></li> 
        {{!-- Brute Force Spacing --}}
        <a href="/tutor_terminal" class="button">Home</a>
      </ul>
    </nav>
  </body>
</html>