<link rel="stylesheet" href="css/index.css">

<div class="container">
  <div class="navbar">
  <img src="/logo.png" alt="Image description" class="logo">
  <img src="/screen.png" alt="Image description" class="screen">



  <h1>Find The Perfect Tutor For Yourself- </h1>
  <p1>Your Study Buddy</p1>
  <a href="/signup_follow" class="button3">Get Started</a>

  <a href="/login" class="button1">Log in</a>
  <a href="/signup_follow" class="button2">Sign up</a>
</div>