{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header}}
    {{> navbar}}

    <div class="container">
        <h1>Sign up as:</h1>
        <a href="/signup_student">Student</a><br>
        <a href="/signup_tutor">Tutor</a><br>

    </div>
</body>
</html> --}}


<link rel="stylesheet" href="css/index.css">

<div class="container">
  <div class="navbar">
  <img src="/logo.png" alt="Image description" class="logo">
  {{!-- <img src="frontend/pages/screen.png" alt="Image description" class="screen"> --}}
</div>


<body>
    {{!-- {{> header}}
    {{> navbar}} --}}

    {{!-- <div class="container"> --}}
        <div class="c2">
        <h1>SIGN UP AS:</h1>
        </div>
        <a href="/signup_student">
        <img src="/studentpic.png" alt="Image description" class="button4">
        </a>
        {{!-- <div class="stu"> --}}
        <a href="/signup_student"class="stu">Student</a><br>
        {{!-- </div> --}}

        <a href="/signup_tutor">
        <img src="/tutorpic.png" alt="Image description" class="button5">
        </a>
        <a href="/signup_tutor"class="tu">Tutor</a><br>
        {{!-- </div> --}}

    {{!-- </div> --}}
</body>
