{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}

<link rel="stylesheet" href="css/index.css">
<div class="navbar">
  <img src="/logo.png" alt="Image description" class="logo">
  {{!-- <img src="frontend/pages/screen.png" alt="Image description" class="screen"> --}}
</div>




<body>
    
    {{!-- {{> header}} --}}
    <div class="c2">
        <h1>Update Password:</h1>
      </div>

    {{#if userTypeIsStudent}}
    {{> navbar_student}}
    {{else if userTypeIsTutor}}
        {{> navbar_tutor}}
    {{else if userTypeIsAdmin}}
        {{> navbar_admin}}
    {{/if}}

    <div class="container">
     
      <form action="/update_password" method="POST">  
  <div  id="passwordholder" style="top:50%">
    <label for="exampleInputPassword1">Old Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="old_pass"  required>
  </div>
  <div id="passwordholder" style="top:65%">
    <label for="exampleInputPassword2">New Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="new_pass"  required>
  </div>
<div id="passwordholder" style="top:80%">
<label for="exampleInputPassword3" style="left:-20%">Confirm Password</label>
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="confirm_pass"  required>
</div>
 <button type="submit" class="button3s" 
            style="background-color: #FFD059; color: white; border: none;"
            onmouseover="this.style.backgroundColor='white'; this.style.color='#FFD059'; this.style.border='2px solid #FFD059';"
            onmouseout="this.style.backgroundColor='#FFD059'; this.style.color='white'; this.style.border='none';"
            onclick="this.style.backgroundColor='white'; this.style.color='#FFD059'; this.style.border='1px solid #FFD059';">Update</button>
</form>
<script>
     window.addEventListener('popstate', function (event) {
        window.location.href = "/admin_terminal";
      });
      history.pushState({}, '/admin_terminal', '/admin_terminal');
</script>
</body>
</html>